<div class="grid">
  <div class="col-12">
    <div class="card">
      <app-page-header
        [breadcrumbItems]="items"
        [pageTitle]="'Create Patient'" />
      <form (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-6">
            <label htmlFor="patientFormModel.firstName">Firstname</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="patientFormModel.firstName"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="patientValidationControl?.firstName">
              <small class="p-error">{{
                patientValidationControl?.firstName
              }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="patientFormModel.lastName">Lastname</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="patientFormModel.lastName"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="patientValidationControl?.lastName">
              <small class="p-error">{{
                patientValidationControl?.lastName
              }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="patientFormModel.userName">Username</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="patientFormModel.userName"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="patientValidationControl?.userName">
              <small class="p-error">{{
                patientValidationControl?.userName
              }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="patientFormModel.phoneNumber">Phone Number</label>
            <p-inputMask
              mask="(999) 999-9999"
              [(ngModel)]="patientFormModel.phoneNumber"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="patientValidationControl?.phoneNumber">
              <small class="p-error">{{
                patientValidationControl?.phoneNumber
              }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="patientFormModel.email">E-mail</label>
            <input
              pInputText
              type="email"
              [(ngModel)]="patientFormModel.email"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="patientValidationControl?.email">
              <small class="p-error">{{
                patientValidationControl?.email
              }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="patientFormModel.identityNumber"
              >Identity Number</label
            >
            <input
              pInputText
              type="text"
              [(ngModel)]="patientFormModel.identityNumber"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="patientValidationControl?.identityNumber">
              <small class="p-error">{{
                patientValidationControl?.identityNumber
              }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="patientFormModel.password">Password</label>
            <input
              pInputText
              type="password"
              [(ngModel)]="patientFormModel.password"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="patientValidationControl?.password">
              <small class="p-error">{{
                patientValidationControl?.password
              }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="patientFormModel.passwordAgain"
              >Password (Again)</label
            >
            <input
              pInputText
              type="password"
              [(ngModel)]="patientFormModel.passwordAgain"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="patientValidationControl?.passwordAgain">
              <small class="p-error">{{
                patientValidationControl?.passwordAgain
              }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="patientFormModel.city">City</label>
            <p-dropdown
              [options]="cities"
              [(ngModel)]="patientFormModel.city"
              optionLabel="name"
              placeholder="Select a City"
              appendTo="body"
              (onChange)="getAllCountiesByCityId(patientFormModel.city.id)"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="checkForValidation()" />
            <div *ngIf="patientValidationControl?.city">
              <small class="p-error">{{
                patientValidationControl?.city
              }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="patientFormModel.county">County</label>
            <p-dropdown
              [options]="counties"
              [(ngModel)]="patientFormModel.county"
              optionLabel="name"
              placeholder="Select a County"
              appendTo="body"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="patientValidationControl?.county">
              <small class="p-error">{{
                patientValidationControl?.county
              }}</small>
            </div>
          </div>
          <div class="field col-12">
            <label htmlFor="patientFormModel.fullAddress">Full Address</label>
            <textarea
              rows="5"
              cols="30"
              pInputTextarea
              [(ngModel)]="patientFormModel.fullAddress"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }">
            </textarea>
            <div *ngIf="patientValidationControl?.fullAddress">
              <small class="p-error">{{
                patientValidationControl?.fullAddress
              }}</small>
            </div>
          </div>
        </div>
        <div class="flex align-items-end justify-content-end mt-5">
          <p-button
            pRipple
            label="Create"
            icon="pi fa-solid fa-check"
            [text]="true"
            type="submit" />
          <p-button
            pRipple
            label="Back"
            icon="pi fa-solid fa-arrow-left"
            [text]="true"
            [routerLink]="['/users']" />
        </div>
      </form>
    </div>
  </div>
</div>

<p-toast />
