<div class="grid">
  <div class="col-12">
    <div class="card">
      <app-page-header
        [breadcrumbItems]="items"
        [pageTitle]="'Create Patient'" />
      <form (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-6">
            <label htmlFor="patient.firstName">Firstname</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="patient.firstName"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="patientValidation?.firstName">
              <small class="p-error">{{ patientValidation?.firstName }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="patient.lastName">Lastname</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="patient.lastName"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="patientValidation?.lastName">
              <small class="p-error">{{ patientValidation?.lastName }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="patient.userName">Username</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="patient.userName"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="patientValidation?.userName">
              <small class="p-error">{{ patientValidation?.userName }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="patient.phoneNumber">Phone Number</label>
            <p-inputMask
              mask="(999) 999-9999"
              [(ngModel)]="patient.phoneNumber"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="patientValidation?.phoneNumber">
              <small class="p-error">{{
                patientValidation?.phoneNumber
              }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="patient.email">E-mail</label>
            <input
              pInputText
              type="email"
              [(ngModel)]="patient.email"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="patientValidation?.email">
              <small class="p-error">{{ patientValidation?.email }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="patient.identityNumber">Identity Number</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="patient.identityNumber"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="patientValidation?.identityNumber">
              <small class="p-error">{{
                patientValidation?.identityNumber
              }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="patient.password">Password</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="patient.password"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="patientValidation?.password">
              <small class="p-error">{{ patientValidation?.password }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="passwordAgain">Password (Again)</label>
            <input pInputText type="text" />
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="city">City</label>
            <p-dropdown
              [options]="cities"
              [(ngModel)]="selectedCity"
              optionLabel="name"
              placeholder="Select a City"
              appendTo="body"
              (onChange)="getAllCountiesByCityId(selectedCity.id)"
              [ngModelOptions]="{ standalone: true }" />
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="county">County</label>
            <p-dropdown
              [options]="counties"
              [(ngModel)]="selectedCounty"
              optionLabel="name"
              placeholder="Select a County"
              appendTo="body"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="patientValidation?.countyId">
              <small class="p-error">{{ patientValidation?.countyId }}</small>
            </div>
          </div>
          <div class="field col-12">
            <label htmlFor="fullAddress">Full Address</label>
            <textarea
              rows="5"
              cols="30"
              pInputTextarea
              [(ngModel)]="patient.fullAddress"
              (ngModelChange)="checkForValidation()"
              [ngModelOptions]="{ standalone: true }">
            </textarea>
            <div *ngIf="patientValidation?.fullAddress">
              <small class="p-error">{{
                patientValidation?.fullAddress
              }}</small>
            </div>
          </div>
        </div>
        <div class="flex align-items-end justify-content-end mt-5">
          <p-button
            pRipple
            label="Create"
            icon="pi fa-solid fa-check"
            [text]="true"
            type="submit" />
          <p-button
            pRipple
            label="Back"
            icon="pi fa-solid fa-arrow-left"
            [text]="true"
            [routerLink]="['/users']" />
        </div>
      </form>
    </div>
  </div>
</div>

<p-toast />
