<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left"> </ng-template>
  <ng-template pTemplate="right">
    <span class="p-input-icon-left mb-2">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input
        pInputText
        type="text"
        #filter
        (input)="this.onGlobalFilter.emit({ table: tableName, event: $event })"
        placeholder="{{ tableSearchBoxPlaceHolder }}"
        class="w-full" />
    </span>
  </ng-template>
</p-toolbar>

<p-table
  #tableName
  [value]="tableDatas"
  [rows]="10"
  [paginator]="true"
  [rowsPerPageOptions]="[5, 10, 20]"
  [globalFilterFields]="globalFilterFields"
  [rowHover]="false"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true">
  <ng-template pTemplate="header">
    <tr>
      @for (tableColumnInfo of tableColumnInfos; track tableColumnInfo) {
        <th pSortableColumn="{{ tableColumnInfo.columnFieldName }}">
          <div
            class="flex justify-content-between align-items-center flex-wrap">
            <div class="flex align-items-center justify-content-center">
              <span>{{ tableColumnInfo.columnName }}</span>
            </div>
            <div class="flex align-items-center justify-content-center">
              <p-columnFilter
                type="text"
                field="{{ tableColumnInfo.columnFieldName }}"
                display="menu"
                placeholder="Search by {{
                  tableColumnInfo.columnName
                }}"></p-columnFilter>
              <p-sortIcon field="{{ tableColumnInfo.columnFieldName }}" />
            </div>
          </div>
        </th>
      }
      <th>Operations</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tableData>
    <tr>
      @for (
        columnData of this.getTableColumnData(tableData);
        track columnData
      ) {
        <td>
          {{ columnData }}
        </td>
      }
      <td>
        <div class="flex justify-content-center flex-wrap">
          <p-button
            pRipple
            icon="fa-solid fa-pen-to-square"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            [routerLink]="[routePath, tableData.id]" />
          <p-button
            pRipple
            icon="fa-solid fa-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="this.deleteRecord.emit({ tableData: tableData })" />
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      {{ tableSummaryInfo }}
    </div>
  </ng-template>
</p-table>

<p-confirmDialog [style]="{ width: '450px' }" />

<p-toast />
