<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left"> </ng-template>
  <ng-template pTemplate="right">
    <span class="p-input-icon-left mb-2">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input
        pInputText
        type="text"
        #filter
        [(ngModel)]="searchTerm"
        (input)="sendSearchTermToParent()"
        placeholder="{{
          'Components.AdvancedTable.SearchBarPlaceHolder' | translate
        }}"
        class="w-full" />
    </span>
  </ng-template>
</p-toolbar>

<p-table
  #tableName
  [value]="tableDatas"
  [lazy]="true"
  [rows]="rowsPerPage"
  [columns]="columns"
  [paginator]="true"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [rowHover]="false"
  dataKey="id"
  [currentPageReportTemplate]="currentPageReportTemplate"
  [showCurrentPageReport]="true"
  (onLazyLoad)="lazyLoad($event)"
  (onPage)="onPageChange($event)"
  [loading]="loading"
  [totalRecords]="totalRecords"
  [multiSortMeta]="multiSortMeta">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        *ngFor="let column of columns"
        pSortableColumn="{{ column.sortField }}">
        <div class="flex justify-content-between align-items-center flex-wrap">
          <div class="flex align-items-center justify-content-center">
            <span>{{ column.header }}</span>
          </div>
          <div
            *ngIf="column.isFilterableAndSortable"
            class="flex align-items-center justify-content-center">
            <p-columnFilter
              type="text"
              field="{{ column.sortField }}"
              display="menu"
              placeholder="{{
                'Components.AdvancedTable.FilterPlaceHolder'
                  | translate: { columnHeader: column.header }
              }}"></p-columnFilter>
            <p-sortIcon field="{{ column.sortField }}" />
          </div>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        @if (!col.isSeverity && !col.isOperationColumn) {
          {{ rowData[col.field] }}
        } @else if (col.isOperationColumn) {
          <div class="flex justify-content-center flex-wrap">
            <p-button
              pRipple
              icon="fa-solid fa-pen-to-square"
              class="mr-2"
              [rounded]="true"
              [outlined]="true"
              severity="success"
              (click)="this.editRecord.emit({ tableData: rowData })" />
            <p-button
              pRipple
              icon="fa-solid fa-trash"
              severity="danger"
              [rounded]="true"
              [outlined]="true"
              (click)="this.deleteRecord.emit({ tableData: rowData })" />
          </div>
        } @else if (col.isSeverity) {
          <p-tag
            [value]="getTranslatedText(rowData[col.field])"
            [severity]="getSeverity(rowData[col.field])" />
        }
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      {{
        'Components.AdvancedTable.Summary'
          | translate: { totalItems: tableDatas.length }
      }}
    </div>
  </ng-template>
</p-table>

<p-toast />
