<div class="grid">
  <div class="col-12">
    <div class="card">
      <app-page-header [breadcrumbItems]="items" [pageTitle]="'Update Admin'" />
      <form (ngSubmit)="onSubmit()" autocomplete="off" [formGroup]="adminForm">
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-6">
            <label htmlFor="admin.firstName">Firstname</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="admin.firstName"
              required
              formControlName="firstname" />
            <div
              *ngIf="
                adminForm.controls['firstname'].invalid &&
                (isFormSubmitted ||
                  adminForm.controls['firstname'].touched ||
                  adminForm.controls['firstname'].dirty)
              ">
              <small
                class="p-error"
                *ngIf="adminForm.controls['firstname'].errors?.['required']"
                >This field is required</small
              >
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="admin.lastName">Lastname</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="admin.lastName"
              required
              formControlName="lastname" />
            <div
              *ngIf="
                adminForm.controls['lastname'].invalid &&
                (isFormSubmitted ||
                  adminForm.controls['lastname'].touched ||
                  adminForm.controls['lastname'].dirty)
              ">
              <small
                class="p-error"
                *ngIf="adminForm.controls['lastname'].errors?.['required']"
                >This field is required</small
              >
            </div>
          </div>
          <div class="field col-12">
            <label htmlFor="admin.email">E-mail</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="admin.email"
              required
              formControlName="email" />
            <div
              *ngIf="
                adminForm.controls['email'].invalid &&
                (isFormSubmitted ||
                  adminForm.controls['email'].touched ||
                  adminForm.controls['email'].dirty)
              ">
              <small
                class="p-error"
                *ngIf="adminForm.controls['email'].errors?.['required']"
                >This field is required</small
              >
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="admin.userName">Username</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="admin.userName"
              required
              formControlName="username" />
            <div
              *ngIf="
                adminForm.controls['username'].invalid &&
                (isFormSubmitted ||
                  adminForm.controls['username'].touched ||
                  adminForm.controls['username'].dirty)
              ">
              <small
                class="p-error"
                *ngIf="adminForm.controls['username'].errors?.['required']"
                >This field is required</small
              >
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="admin.phoneNumber">Phone Number</label>
            <p-inputMask
              mask="(999) 999-9999"
              [(ngModel)]="admin.phoneNumber"
              required
              formControlName="phoneNumber" />
            <div
              *ngIf="
                adminForm.controls['phoneNumber'].invalid &&
                (isFormSubmitted ||
                  adminForm.controls['phoneNumber'].touched ||
                  adminForm.controls['phoneNumber'].dirty)
              ">
              <small
                class="p-error"
                *ngIf="adminForm.controls['phoneNumber'].errors?.['required']"
                >This field is required</small
              >
            </div>
          </div>
        </div>
        <div class="flex align-items-end justify-content-end mt-5">
          <p-button
            pRipple
            label="Update"
            icon="pi fa-solid fa-check"
            [text]="true"
            type="submit" />
          <p-button
            pRipple
            label="Back"
            icon="pi fa-solid fa-arrow-left"
            [text]="true"
            [routerLink]="['/users']" />
        </div>
      </form>
    </div>
  </div>
</div>

<p-toast />
