<div class="grid">
  <div class="col-12">
    <div class="card">
      <app-page-header [breadcrumbItems]="items" [pageTitle]="'Doctors Page'" />
      <app-advanced-table
        [tableDatas]="doctors"
        [globalFilterFields]="globalFilterFieldsData"
        [tableColumnInfos]="tableColumnInfos"
        [tableSummaryInfo]="tableSummaryInfo"
        [tableSearchBoxPlaceHolder]="tableSearchBoxPlaceHolder"
        (addRecord)="addRecord()"
        (editRecord)="editRecord($event.tableData)"
        (deleteRecord)="deleteRecord($event.tableData)"
        (onGlobalFilter)="onGlobalFilter($event.table, $event.event)"
      />
      <app-doctor-dialog
        [visibility]="doctorDialogVisibility"
        [doctor]="doctorModel"
        [departmentDropdownItems]="departmentDropdownItems"
        (saveDoctor)="saveDoctor($event.form)"
        (changeVisibility)="changeVisibility($event.visibility)"
      />
    </div>
  </div>
</div>
