<div class="grid">
    <div class="col-12">
        <div class="card">
            <app-page-header 
                [breadcrumbItems]="items" 
                [pageTitle]="'Patients Page'" />
            <app-advanced-table
                [tableDatas]="patients"
                [globalFilterFields]="globalFilterFieldsData"
                [tableColumnInfos] = "tableColumnInfos"
                [tableSummaryInfo] = "tableSummaryInfo"
                [tableSearchBoxPlaceHolder] = "tableSearchBoxPlaceHolder"
                (addRecord)="addRecord()"
                (editRecord)="editRecord($event.tableData)"
                (deleteRecord)="deleteRecord($event.tableData)"
                (onGlobalFilter)="onGlobalFilter($event.table, $event.event)" />
            <app-patient-dialog 
                [visibility]="patientDialogVisibility"
                [patient]="patientModel"
                (savePatient)="savePatient($event.form)"
                (changeVisibility)="changeVisibility($event.visibility)" />
        </div>
    </div>
</div>