<div class="grid">
  <div class="col-12">
    <div class="card">
      <app-page-header [breadcrumbItems]="items" [pageTitle]="pageTitle" />
      <app-edit-table
        [tableDatas]="appointments"
        [globalFilterFields]="globalFilterFieldsData"
        [columns]="columns"
        (editRecord)="editRecord($event.tableData)"
        [severityList]="severityList"
        (onGlobalFilter)="onGlobalFilter($event.table, $event.event)" />
      <app-update-appointment-dialog
        [visibility]="updateAppointmentDialogVisibility"
        [appointment]="updateAppointmentFormModel"
        [appointmentStatusList]="appointmentStatusList"
        [validationControl]="validationControl"
        (onSubmit)="onSubmit()"
        (changeVisibility)="changeVisibility($event.visibility)" />
    </div>
  </div>
</div>
