<div class="grid">
  <div class="col-12">
    <div class="card">
      <app-page-header [breadcrumbItems]="items" [pageTitle]="'All Users'" />
      <app-advanced-table
        [tableDatas]="users"
        [globalFilterFields]="globalFilterFieldsData"
        [tableColumnInfos]="tableColumnInfos"
        [tableSummaryInfo]="tableSummaryInfo"
        [tableSearchBoxPlaceHolder]="tableSearchBoxPlaceHolder"
        (editRecord)="editRecord($event.tableData)"
        (deleteRecord)="deleteRecord($event.tableData)"
        (onGlobalFilter)="onGlobalFilter($event.table, $event.event)" />
    </div>
  </div>
</div>
