<div class="grid">
  <div class="col-12">
    <div class="card">
      <app-page-header [breadcrumbItems]="items" [pageTitle]="pageTitle" />
      <form (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="p-fluid p-formgrid grid mt-5">
          <div class="field col-12 md:col-3">
            <div class="flex flex-column">
              <div
                class="flex align-items-center justify-content-center mb-5 mt-2">
                <label htmlFor="adminFormModel.firstName">{{
                  'Pages.UpdateAdminProfile.Form.Controls.ProfilePhoto.Title'
                    | translate
                }}</label>
              </div>
              <div class="flex align-items-center justify-content-center mb-5">
                <img
                  *ngIf="
                    uploadedPhoto !== null &&
                      uploadedPhoto !== '' &&
                      uploadedPhoto !== undefined;
                    else defaultAvatar
                  "
                  [src]="uploadedPhoto"
                  alt="{{
                    'Pages.UpdateAdminProfile.Form.Controls.ProfilePhoto.Title'
                      | translate
                  }}"
                  width="150px"
                  height="150px"
                  style="border-radius: 50%" />
                <ng-template #defaultAvatar>
                  <img
                    [src]="emptyUserPhoto"
                    alt="{{
                      'Pages.UpdateAdminProfile.Form.Controls.ProfilePhoto.Title'
                        | translate
                    }}"
                    width="150px"
                    height="150px"
                    style="border-radius: 50%" />
                </ng-template>
              </div>
              <div class="flex align-items-center justify-content-evenly">
                <p-fileUpload
                  #fileUpload
                  mode="basic"
                  chooseLabel="{{
                    'Pages.UpdateAdminProfile.Form.Controls.ProfilePhoto.Choose'
                      | translate
                  }}"
                  chooseIcon="pi pi-upload"
                  name="demo[]"
                  accept="image/*"
                  maxFileSize="1000000"
                  (onSelect)="onSelect($event)" />
                <p-button
                  label="{{
                    'Pages.UpdateAdminProfile.Form.Controls.ProfilePhoto.Clear'
                      | translate
                  }}"
                  icon="pi fa-solid fa-xmark"
                  severity="danger"
                  (click)="clearSelectedFile()" />
              </div>
            </div>
          </div>
          <div class="field col-12 md:col-9 flex flex-column">
            <div class="flex mb-3">
              <div class="field col-6 md:col-6">
                <label htmlFor="adminFormModel.firstName">{{
                  'Pages.UpdateAdmin.Form.Controls.Firstname.Label' | translate
                }}</label>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="adminFormModel.firstName"
                  (ngModelChange)="checkForValidation('firstName')"
                  [ngModelOptions]="{ standalone: true }" />
                <div *ngIf="adminValidationControl?.firstName">
                  <small class="p-error">{{
                    adminValidationControl?.firstName
                  }}</small>
                </div>
              </div>
              <div class="field col-6 md:col-6">
                <label htmlFor="adminFormModel.lastName">{{
                  'Pages.UpdateAdmin.Form.Controls.Lastname.Label' | translate
                }}</label>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="adminFormModel.lastName"
                  (ngModelChange)="checkForValidation('lastName')"
                  [ngModelOptions]="{ standalone: true }" />
                <div *ngIf="adminValidationControl?.lastName">
                  <small class="p-error">{{
                    adminValidationControl?.lastName
                  }}</small>
                </div>
              </div>
            </div>
            <div class="flex mb-3">
              <div class="field col-6 md:col-6">
                <label htmlFor="adminFormModel.userName">{{
                  'Pages.UpdateAdmin.Form.Controls.Username.Label' | translate
                }}</label>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="adminFormModel.userName"
                  [ngModelOptions]="{ standalone: true }"
                  disabled="true" />
              </div>
              <div class="field col-6 md:col-6">
                <label htmlFor="adminFormModel.phoneNumber">{{
                  'Pages.UpdateAdmin.Form.Controls.PhoneNumber.Label'
                    | translate
                }}</label>
                <p-inputMask
                  mask="(999) 999-9999"
                  [(ngModel)]="adminFormModel.phoneNumber"
                  (ngModelChange)="checkForValidation('phoneNumber')"
                  [ngModelOptions]="{ standalone: true }" />
                <div *ngIf="adminValidationControl?.phoneNumber">
                  <small class="p-error">{{
                    adminValidationControl?.phoneNumber
                  }}</small>
                </div>
              </div>
            </div>
            <div class="flex mb-3">
              <div class="field col-12">
                <label htmlFor="adminFormModel.email">{{
                  'Pages.UpdateAdmin.Form.Controls.Email.Label' | translate
                }}</label>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="adminFormModel.email"
                  [ngModelOptions]="{ standalone: true }"
                  disabled="true" />
              </div>
            </div>
          </div>
        </div>
        <div class="flex align-items-end justify-content-end mt-5">
          <p-button
            pRipple
            label="{{
              'Pages.UpdateAdminProfile.Form.Buttons.Submit' | translate
            }}"
            icon="pi fa-solid fa-check"
            [text]="true"
            type="submit" />
          <p-button
            pRipple
            label="{{
              'Pages.UpdateAdminProfile.Form.Buttons.Cancel' | translate
            }}"
            icon="pi fa-solid fa-arrow-left"
            [text]="true"
            [routerLink]="['/users']" />
        </div>
      </form>
    </div>
  </div>
</div>

<p-toast />
