<div class="layout-topbar">
        <span class="layout-topbar-logo justify-content-center">e-Appointment</span>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle(); onTopbarClick()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <div class="flex justify-content-between align-items-center flex-wrap">
            <button class="p-link layout-topbar-button" (click)="onThemeChange(
                (selectedTheme == 'assets/layout/styles/theme/lara-light-indigo/theme' ? 
                'assets/layout/styles/theme/lara-dark-indigo/theme' : 'assets/layout/styles/theme/lara-light-indigo/theme'), !isDarkThemeSelected)">
                @if(isDarkThemeSelected){
                    <i class="pi fa-regular fa-moon"></i>
                }@else{
                    <i class="pi fa-solid fa-sun"></i>
                }
            </button>
            <button class="p-link layout-topbar-button">
                <i class="pi pi-user"></i>
                <span>Profile</span>
            </button>
        </div>
        
    </div>
</div>