<div class="grid">
  <div class="col-12">
    <div class="card">
      <app-page-header [breadcrumbItems]="items" [pageTitle]="pageTitle" />
      <form (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-6">
            <label htmlFor="adminFormModel.firstName">{{
              'Pages.CreateAdmin.Form.Controls.Firstname' | translate
            }}</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="adminFormModel.firstName"
              (ngModelChange)="checkForValidation('firstName')"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="adminValidationControl?.firstName">
              <small class="p-error">{{
                adminValidationControl?.firstName
              }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="adminFormModel.lastName">{{
              'Pages.CreateAdmin.Form.Controls.Lastname' | translate
            }}</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="adminFormModel.lastName"
              (ngModelChange)="checkForValidation('lastName')"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="adminValidationControl?.lastName">
              <small class="p-error">{{
                adminValidationControl?.lastName
              }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="adminFormModel.userName">{{
              'Pages.CreateAdmin.Form.Controls.Username' | translate
            }}</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="adminFormModel.userName"
              (ngModelChange)="checkForValidation('userName')"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="adminValidationControl?.userName">
              <small class="p-error">{{
                adminValidationControl?.userName
              }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="adminFormModel.phoneNumber">{{
              'Pages.CreateAdmin.Form.Controls.PhoneNumber' | translate
            }}</label>
            <p-inputMask
              mask="(999) 999-9999"
              [(ngModel)]="adminFormModel.phoneNumber"
              (ngModelChange)="checkForValidation('phoneNumber')"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="adminValidationControl?.phoneNumber">
              <small class="p-error">{{
                adminValidationControl?.phoneNumber
              }}</small>
            </div>
          </div>
          <div class="field col-12">
            <label htmlFor="adminFormModel.email">{{
              'Pages.CreateAdmin.Form.Controls.Email' | translate
            }}</label>
            <input
              pInputText
              type="text"
              [(ngModel)]="adminFormModel.email"
              (ngModelChange)="checkForValidation('email')"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="adminValidationControl?.email">
              <small class="p-error">{{ adminValidationControl?.email }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="adminFormModel.password">{{
              'Pages.CreateAdmin.Form.Controls.Password' | translate
            }}</label>
            <input
              pInputText
              type="password"
              [(ngModel)]="adminFormModel.password"
              (ngModelChange)="checkForValidation('password')"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="adminValidationControl?.password">
              <small class="p-error">{{
                adminValidationControl?.password
              }}</small>
            </div>
          </div>
          <div class="field col-12 md:col-6">
            <label htmlFor="adminFormModel.passwordAgain">{{
              'Pages.CreateAdmin.Form.Controls.PasswordAgain' | translate
            }}</label>
            <input
              pInputText
              type="password"
              [(ngModel)]="adminFormModel.passwordAgain"
              (ngModelChange)="checkForValidation('passwordAgain')"
              [ngModelOptions]="{ standalone: true }" />
            <div *ngIf="adminValidationControl?.passwordAgain">
              <small class="p-error">{{
                adminValidationControl?.passwordAgain
              }}</small>
            </div>
          </div>
        </div>
        <div class="flex align-items-end justify-content-end mt-5">
          <p-button
            pRipple
            label="{{ 'Pages.CreateAdmin.Form.Buttons.Submit' | translate }}"
            icon="pi fa-solid fa-check"
            [text]="true"
            type="submit" />
          <p-button
            pRipple
            label="{{ 'Pages.CreateAdmin.Form.Buttons.Cancel' | translate }}"
            icon="pi fa-solid fa-arrow-left"
            [text]="true"
            [routerLink]="['/users']" />
        </div>
      </form>
    </div>
  </div>
</div>

<p-toast />
