<div class="grid">
    <div class="col-12">
        <div class="card">
            <app-page-header [breadcrumbItems]="items" [pageTitle]="'Appointment Page'" />
            <p-dropdown appendTo="body" [options]="departmentDropdownItems" [(ngModel)]="selectedDepartment" optionLabel="name"
                (onChange)="getAllDoctorByDepartment()" placeholder="Select a Department" required>
            </p-dropdown>

            @if(selectedDepartment.value > 0)
            {
                @if(doctors.length === 0)
                {
                    <span class="ml-5">There is no doctor in this department</span>
                }
                @else 
                {
                    <p-dropdown class="ml-5" appendTo="body" [options]="doctors" [(ngModel)]="selectedDoctor" optionLabel="fullName"
                        placeholder="Select a Doctor" required>
                    </p-dropdown>
                }
            }

            @if(selectedDoctor.id)
            {
                <full-calendar #appointmentCalendar [options]="calendarOptions" class="mt-5"></full-calendar>
            }

            <app-appointment-dialog [visibility]="appointmentDialogVisibility" [appointment]="createAppointmentModel"
                (saveAppointment)="saveAppointment($event.form)"
                (changeVisibility)="changeVisibility($event.visibility)" />
        </div>
    </div>
</div>