<p-dialog [(visible)]="visibility" [style]="{ width: '450px' }" header="{{title}}" [modal]="true" styleClass="p-fluid"
    (onHide)="this.changeVisibility.emit({ visibility: false })" >
    <ng-template pTemplate="content">
        <form (ngSubmit)="onSubmit()" autocomplete="off" [formGroup]="patientForm">
            <div class="field">
                <label for="patient.firstName">First Name</label>
                <input type="text" pInputText [(ngModel)]="patient.firstName" required autofocus
                    formControlName="firstname" />
                <div *ngIf="
                        patientForm.controls['firstname'].invalid && 
                        (isFormSubmitted || 
                        patientForm.controls['firstname'].touched || 
                        patientForm.controls['firstname'].dirty)">
                    <small class="p-error" *ngIf="patientForm.controls['firstname'].errors?.['required']">This field is required</small>
                </div>
            </div>
            <div class="field">
                <label for="patient.lastName">Last Name</label>
                <input type="text" pInputText [(ngModel)]="patient.lastName" required autofocus
                    formControlName="lastname" />
                <div *ngIf="
                        patientForm.controls['lastname'].invalid && 
                        (isFormSubmitted || 
                        patientForm.controls['lastname'].touched || 
                        patientForm.controls['lastname'].dirty)">
                    <small class="p-error" *ngIf="patientForm.controls['lastname'].errors?.['required']">This field is required</small>
                </div>
            </div>
            <div class="flex align-items-end justify-content-end mt-5">
                <p-button pRipple label="Cancel" icon="pi pi-times" [text]="true"
                    (click)="this.changeVisibility.emit({ visibility: false })" />
                <p-button pRipple label="Save" icon="pi pi-check" [text]="true" type="submit" />
            </div>
        </form>
    </ng-template>
</p-dialog>