<p-dialog [(visible)]="visibility" [style]="{ width: '450px' }" header="{{title}}" [modal]="true" styleClass="p-fluid"
    (onHide)="this.changeVisibility.emit({ visibility: false })">
    <ng-template pTemplate="content">
        <form (ngSubmit)="onSubmit()" autocomplete="off" [formGroup]="userForm">
            <div class="field">
                <label for="user.firstName">First Name</label>
                <input type="text" pInputText [(ngModel)]="user.firstName" required autofocus
                    formControlName="firstname" />
                <div *ngIf="
                        userForm.controls['firstname'].invalid && 
                        (isFormSubmitted || 
                        userForm.controls['firstname'].touched || 
                        userForm.controls['firstname'].dirty)">
                    <small class="p-error" *ngIf="userForm.controls['firstname'].errors?.['required']">This field is
                        required</small>
                </div>
            </div>
            <div class="field">
                <label for="user.lastName">Last Name</label>
                <input type="text" pInputText [(ngModel)]="user.lastName" required autofocus
                    formControlName="lastname" />
                <div *ngIf="
                        userForm.controls['lastname'].invalid && 
                        (isFormSubmitted || 
                        userForm.controls['lastname'].touched || 
                        userForm.controls['lastname'].dirty)">
                    <small class="p-error" *ngIf="userForm.controls['lastname'].errors?.['required']">This field is
                        required</small>
                </div>
            </div>
            <div class="field">
                <label for="user.userName">User Name</label>
                <input type="text" pInputText [(ngModel)]="user.userName" required autofocus
                    formControlName="username" />
                <div *ngIf="
                        userForm.controls['username'].invalid && 
                        (isFormSubmitted || 
                        userForm.controls['username'].touched || 
                        userForm.controls['username'].dirty)">
                    <small class="p-error" *ngIf="userForm.controls['username'].errors?.['required']">This field is
                        required</small>
                </div>
            </div>
            <div class="field">
                <label for="user.email">Email</label>
                <input type="text" pInputText [(ngModel)]="user.email" required autofocus formControlName="email" />
                <div *ngIf="
                        userForm.controls['email'].invalid && 
                        (isFormSubmitted || 
                        userForm.controls['email'].touched || 
                        userForm.controls['email'].dirty)">
                    <small class="p-error" *ngIf="userForm.controls['email'].errors?.['required']">This field is
                        required</small>
                </div>
            </div>
            <div class="field">
                <label for="user.password">Password</label>
                <input type="password" pInputText [(ngModel)]="user.password" required autofocus formControlName="password" />
                <div *ngIf="
                        userForm.controls['password'].invalid && 
                        (isFormSubmitted || 
                        userForm.controls['password'].touched || 
                        userForm.controls['password'].dirty)">
                    <small class="p-error" *ngIf="userForm.controls['password'].errors?.['required']">This field is
                        required</small>
                </div>
            </div>
            <div class="field">
                <label for="user.roles">Roles</label>
                <p-multiSelect [options]="userRoleDropdownItems" [(ngModel)]="user.roles" optionLabel="name"
                    placeholder="Select Roles" required formControlName="roles" appendTo="body"/>
                <div *ngIf="
                        userForm.controls['roles'].invalid && 
                        isFormSubmitted">
                    <small class="p-error" *ngIf="userForm.controls['roles'].errors?.['pattern']">This field is
                        required</small>
                </div>
            </div>
            <div class="flex align-items-end justify-content-end mt-5">
                <p-button pRipple label="Cancel" icon="pi pi-times" [text]="true"
                    (click)="this.changeVisibility.emit({ visibility: false })" />
                <p-button pRipple label="Save" icon="pi pi-check" [text]="true" type="submit" />
            </div>
        </form>
    </ng-template>
</p-dialog>