<p-dialog
  [(visible)]="visibility"
  [style]="{ width: '450px' }"
  header="{{ title }}"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="this.changeVisibility.emit({ visibility: false })">
  <ng-template pTemplate="content">
    <form (ngSubmit)="this.onSubmit.emit()" autocomplete="off">
      <div class="field">
        <label for="appointment.fullName">{{
          'Pages.Appointments.UpdateAppointmentDialog.Form.Controls.FullName.Label'
            | translate
        }}</label>
        <input
          type="text"
          pInputText
          value="{{ appointment.fullName }}"
          disabled />
      </div>
      <div class="field">
        <label for="appointment.startDate">{{
          'Pages.Appointments.UpdateAppointmentDialog.Form.Controls.StartDate.Label'
            | translate
        }}</label>
        <input
          type="text"
          pInputText
          value="{{ appointment.startDate }}"
          disabled />
      </div>
      <div class="field">
        <label for="appointment.endDate">{{
          'Pages.Appointments.UpdateAppointmentDialog.Form.Controls.EndDate.Label'
            | translate
        }}</label>
        <input
          type="text"
          pInputText
          value="{{ appointment.endDate }}"
          disabled />
      </div>
      <div class="field">
        <label htmlFor="appointment.status">{{
          'Pages.Appointments.UpdateAppointmentDialog.Form.Controls.Status.Label'
            | translate
        }}</label>
        <p-dropdown
          [options]="appointmentStatusList"
          [(ngModel)]="appointment.status"
          optionLabel="value"
          placeholder="{{
            'Pages.Appointments.UpdateAppointmentDialog.Form.Controls.Status.Dropdown'
              | translate
          }}"
          appendTo="body"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="
            this.checkForValidation.emit({ propName: 'status' })
          ">
          <ng-template pTemplate="item" let-item>
            {{ 'Enums.AppointmentStatus.' + item.value | translate }}
          </ng-template>
          <ng-template pTemplate="selectedItem" let-appointment.status>
            {{
              'Enums.AppointmentStatus.' + appointment.status.value | translate
            }}
          </ng-template>
        </p-dropdown>
        <div *ngIf="validationControl?.status">
          <small class="p-error">{{ validationControl?.status }}</small>
        </div>
      </div>
      <div class="flex align-items-end justify-content-end mt-5">
        <p-button
          pRipple
          label="{{
            'Pages.Appointments.UpdateAppointmentDialog.Form.Buttons.Submit'
              | translate
          }}"
          icon="pi pi-check"
          [text]="true"
          type="submit" />
        <p-button
          pRipple
          label="{{
            'Pages.Appointments.UpdateAppointmentDialog.Form.Buttons.Cancel'
              | translate
          }}"
          icon="pi pi-times"
          [text]="true"
          (click)="this.changeVisibility.emit({ visibility: false })" />
      </div>
    </form>
  </ng-template>
</p-dialog>
